@font-face {
    font-family: 'Product-Sans';
    src: url('../fonts/ProductSans-Regular.ttf');
}

body {
    background-color: #fff;
    color: #3c4043;
}

/* navbar  */
.nav-title {
    color: rgb(133, 133, 133);
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Product-Sans';
}

.navbar-right {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-right-item {
    display: inline;
}

.nav-icon {
    color: rgb(133, 133, 133);
    text-decoration: none;
    margin: 0 12px;
    font-size: 18px;
}

.navbar-right :last-child .nav-icon {
    font-size: 30px;
}

/* title  */

#title {
    text-align: center;
    font-family: 'Product-Sans';
    font-weight: 700;
    font-size: 200%;
    line-height: 120%;
    margin: 40px 0;
}

#title span {
    color: #188038;
}

/* product menu  */

.product-menu {
    margin: 0 0 0 40px;
}

.product-menu-title {
    color: #3c4043;
    font-size: 0.8rem;
    font-weight: 700;
    background-color: #fff;
    text-align: left;
}

.product-menu ul{
    list-style: none;
    margin: 10px 0 20px;
    padding: 0;
}

.product-menu ul li{
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.product-menu ul li span{
    margin-left: 20px;
}

/* product column  */

.product-img-block{
    background-color: #888888;
    padding: 20% 10%;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img{
    background-color: #000;
    width: 40%;
}

#products .row div{
    padding: 8px;
}

/* color: #3c4043;
font-family: "Google Sans","Roboto","Arial",sans-serif; */